#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
}

.navbar-item {
  margin-left: 1rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ddd;
}

@media (max-width: 768px) {
  .navbar-container {
      flex-direction: row;
  }

  .navbar-menu {
      margin-top: 1rem;
      flex-direction: row;
  }

  .navbar-item {
      margin: 0.5rem 0;
  }
}

.main-content {
  place-items: center;
  margin: 32px 24px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
